[client]
port                           = 3306
socket                         = /var/lib/mysql/mysql.sock
default-character-set          = utf8

[mysql]
default-character-set          = utf8

[mysqldump]
quick
max_allowed_packet             = 64M
default-character-set          = utf8

[mysqld_safe]
log-error                      = /var/log/mysql/mysql-err.log
pid-file                       = /var/run/mysqld/mysqld.pid

[mysqld]
##--------------------------------------------------------------------
# mysqldの基本設定
##--------------------------------------------------------------------
port                           = 3306
socket                         = /var/lib/mysql/mysql.sock
pid-file                       = /var/run/mysqld/mysqld.pid

# 文字セット指定
character-set-server           = utf8
collation-server               = utf8_general_ci

# Replicationを使うときには重複されてはいけない
server-id                      = 1000

# サーバーを起動するユーザーの指定
user                           = mysql

# このディレクトリの所有権とグループはuserで指定したユーザーにする必要がある
datadir                        = /var/lib/mysql

# Defaultのストレージエンジン
default-storage-engine         = innodb

##--------------------------------------------------------------------
# Network 設定
##--------------------------------------------------------------------
bind-address                   = 0.0.0.0

# サーバーに接続したClientの確認のためにIPを利用してClientのドメインを探すのを防ぐ
# これを設定するとサーバーに接続したClientを定義するときにHostのFieldにドメインを使ってはいけない、IPのみ使用可能。
# Clientのドメインを探す作業がなくなるので、性能がよくなる
skip-name-resolve

# 最大同時接続の指定
max_connections                = 300

# Clinetが発生させるエラーの限界値を調整するための設定。
max_connect_errors             = 1000000

# 接続したClientが何もせずにいるときに、Connectionを切断する時間。Defaultは 28800秒(8時間)である。
wait_timeout                   = 3600

# Clientからサーバーに送るQuery Packetの大きさ
max_allowed_packet             = 64M

##--------------------------------------------------------------------
# Logging
##--------------------------------------------------------------------
# エラーログ
log-error                      = /var/log/mysql/mysql-err.log

# Queryログ 基本は0で出力させない(デバッグの時のみ使用)
general_log                    = 0
general_log_file               = /var/log/mysql/general_query.log

# Slow Queryログ
slow_query_log                 = 1
long_query_time                = 0.5
slow_query_log_file            = /var/log/mysql/mysql-slow.log

# バイナリログ
log_bin                        = mysql-bin
log-bin-index                  = mysql-bin.index
# バイナリログを自動削除する日数
expire_logs_days               = 3
# バイナリログの最大ファイルサイズ
max_binlog_size                = 1G
# バイナリログフォーマット
binlog_format                  = mixed


##--------------------------------------------------------------------
# CacheとMemory
##--------------------------------------------------------------------
# max_connectionsの1/3ぐらいを目安
# show statusの(Threads_created / Connections)の結果が0.01以上なら増やす必要があると判断
thread_cache_size              = 100

# すべてのThreadが開いてCacheができるTableの数
table_open_cache               = 2000

# ヒープテーブルサイズ
max_heap_table_size            = 16M
tmp_table_size                 = 16M

# ソートの際に利用される領域
sort_buffer_size               = 1M

# 全文検索の時に使用される領域
read_buffer_size               = 1M

# ソート後にレコードを読むときに使われる領域
read_rnd_buffer_size           = 4M

# インデックスを用いない全文検索を伴うテーブル結合において、レコードデータキャッシュに使われる領域
join_buffer_size               = 256K

# Queryキャッシュの有無
query_cache_type               = 0

# Queryの結果をCacheするためのメモリ領域
query_cache_size               = 1M

# 一つのQueryごとの結果をCacheする量を制限
query_cache_limit              = 1M

##--------------------------------------------------------------------
# MyISAM
##--------------------------------------------------------------------
# MyISAMテーブルに対して索引検索をする際にそのインデックス情報を格納する領域
key_buffer_size                = 8M

# bulk insertなどを使うときに使用するBuffer領域
bulk_insert_buffer_size        = 8M

# CREATE INDEX, ALTE TABLEなどでIndexを生成したりするのにIndexの整列が必要な時使うBuffer
myisam_sort_buffer_size        = 8M

# REPAIR_TABLE, ALTER_TABLE, LOAD_DATA_INFILE の中で MyISAM Indexを再生成しなければならない時に許可する臨時ファイルの最大値
myisam_max_sort_file_size      = 2G

##--------------------------------------------------------------------
# InnoDB behavior
##--------------------------------------------------------------------
# InnoDBのBackground ThreadのRead/WriteのThreadの数
innodb_read_io_threads         = 4
innodb_write_io_threads        = 4

# "SHOW TABLE STATUS", "SHOW INDEX" の情報を INFORMATION_SCHEMAのテーブルの統計に更新する
innodb_stats_on_metadata       = 0

# innodbでのdirty pagesのパーセンテージ
innodb_max_dirty_pages_pct     = 75

# Innodb apaptive hash index の利用有無
innodb_adaptive_hash_index     = 1

# InnoDB buffer poolでdirty pagesをFlushする比率を動的に調節するかどうかを決める
innodb_adaptive_flushing       = 1

# insert bufferからInnoDBのBackgroundタスクのI/O上限値を設定
innodb_io_capacity             = 200

# auto-incrementの値を生成するときにlock modeを決める
innodb_autoinc_lock_mode       = 1

##--------------------------------------------------------------------
# InnoDB base
##--------------------------------------------------------------------
# InnoDBに対する各種操作の他、レコードデータなどのキャッシュ領域
innodb_buffer_pool_size        = 1G

# システムテーブルスペースの代わりにデータとインデックスを別のファイルに保存する
innodb_file_per_table          = 1

# ロググループの各ログファイルのサイズ
innodb_log_file_size           = 48MB

# トランザクションログを管理し、InnoDB専用スレッドやサーバスレッドがアクセスする領域
innodb_log_buffer_size         = 16M

# InnoDB transactionがrow lockなった時の待機時間
innodb_lock_wait_timeout       = 50

# TransactionがCommitされるたびに、Diskに書くかどうかを決める
innodb_flush_log_at_trx_commit = 1


##--------------------------------------------------------------------
# その他
##--------------------------------------------------------------------
# シンボリックリンクを使用しない
symbolic-links                 = 0

# group_concatの結果の最大長
group_concat_max_len           = 1024

# テーブル名の大文字小文字を区別するかどうか
lower_case_table_names         = 0

# イベントスケジューラ設定
event_scheduler                = OFF
